ResultPublisher/__pycache__/*
InferenceNode/__pycache__/*
venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class
# C extensions
*.so
*.pt
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
lib/
lib64/
parts/
sdist/
var/
wheels/
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
# Unit test / coverage reports
.coverage
.coverage.*
.cache
*.zip
*.pth
*.jpg
*.png
*.jpeg
*.gif
*.bin
*.xml
*.yaml
InferenceNode/model_repository/models_metadata.json
InferenceNode/pipelines/pipelines_metadata.json
.gitignore
